/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  outline: 1px solid black;
}

/******************************************
/* NAVBAR
/*******************************************/

nav { 
  width: 20%; 
}

ul {
  padding-left: 10px;
  list-style: none; 
}

/******************************************
/* LAYOUT
/*******************************************/

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-box {
  height: 400px;
  width: 300px; 
  margin: 20px;
}

.movie-info {
  height: 200px;
  width: 400px;
}

.movie-pic {
  height: 100%; 
  width: auto;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
