/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  outline: 1px solid black;
}

/******************************************
/* NAVBAR
/*******************************************/

nav { 
  width: 20%; 
}

ul {
  padding-left: 10px;
  list-style: none; 
}

/******************************************
/* LAYOUT
/*******************************************/


.main-container {

}

.movie-box {

  position: relative;
  width: 250px;
  margin: 1rem;
  height: 400px;
}

.movie-info {

  color: black;
}

.movie-pic {
  height: 100%; 
  width: auto;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
